[submodule "Src/BigBang1112.EssentialsV2"]
	path = Src/BigBang1112.EssentialsV2
	url = https://github.com/bigbang1112-cz/essentials-v2
[submodule "Tools/Spike"]
	path = Tools/Spike
	url = https://github.com/bigbang1112-cz/spike
[submodule "Tools/ClipToReplay"]
	path = Tools/ClipToReplay
	url = https://github.com/bigbang1112-cz/clip-to-replay
[submodule "Tools/GhostToClip"]
	path = Tools/GhostToClip
	url = https://github.com/bigbang1112-cz/ghost-to-clip
[submodule "Tools/ReplayViewer"]
	path = Tools/ReplayViewer
	url = https://github.com/bigbang1112-cz/replay-viewer
[submodule "Tools/CombineClips"]
	path = Tools/CombineClips
	url = https://github.com/bigbang1112-cz/combine-clips
[submodule "Tools/Champagne"]
	path = Tools/Champagne
	url = https://github.com/bigbang1112-cz/champagne
[submodule "Tools/ClipInput"]
	path = Tools/ClipInput
	url = https://github.com/bigbang1112-cz/clip-input
[submodule "Tools/ClipCheckpoint"]
	path = Tools/ClipCheckpoint
	url = https://github.com/bigbang1112-cz/clip-checkpoint
