.top {
    display: flex;
    padding: 0 15px;
    height: 50px;
    cursor: pointer;
}

    .top:hover {
        background: linear-gradient(to bottom, #3585, #3580);
    }

.top-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.top-button {
    height: 32px;
}

.arrow {
    transition: 0.25s all ease;
}

    .arrow.expanded {
        transform: rotate(180deg);
    }

.gbx-list {
    display: grid;
    grid-auto-rows: min-content;
    gap: 4px;
    padding: 4px;
    margin: 0 10px 10px 0;
    background: #0004;
    border-radius: 3px;
    overflow: auto;
    width: 350px;
}

    .gbx-list > div {
        display: flex;
        align-items: center;
        gap: 8px;
        background: #3332;
        border-radius: 3px;
        white-space: nowrap;
        overflow: hidden;
        padding: 4px 8px;
        cursor: pointer;
    }

        .gbx-list > div > div:last-child {
            flex: 1;
        }

        .gbx-list > div:hover, .gbx-list > div.selected {
            background: var(--button-blue);
        }

.delete-gbx {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background: #400;
    width: 24px;
    height: 24px;
}

    .delete-gbx:hover {
        background: #800;
    }

.gbx-name {
    overflow: hidden;
}

.panel {
    display: flex;
    overflow: auto;
    flex: 1;
}

.gbx-options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 10px 10px;
    background: #0004;
    border-radius: 3px;
    overflow: hidden auto;
    transition: 0.2s all ease;
    white-space: nowrap;
}

    .gbx-options > button {
        padding: 4px;
        overflow: hidden;
    }

    .gbx-options > div {
        display: flex;
        justify-content: center;
        padding: 4px;
    }

div.class-name {
    color: var(--class-type-color);
}

div.gray {
    color: gray;
}