h2, h3 {
    margin: 20px 0 10px 0;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    text-align: center;
}

.import-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

    .import-section .import-gbx {
        flex: 1;
    }

.symbol {
    font-size: 2rem;
}

.button-util {
    font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
    .import-section {
        grid-template-columns: auto 400px;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
    }
}