@page "/"
@using BigBang1112.Gbx.Client.Services;
@using MapViewerEngine.Shared;
@inject MapViewerEngine.MapViewerEngineHubConnection Hub
@inject ToolManager ToolManager

<PageTitle>Index</PageTitle>

<p>@Hub.State</p>

<AuthorizeView>
    <NotAuthorized>
        <a href="login">Login</a>
    </NotAuthorized>
    <Authorized>
        <a href="logout">Logout</a>
    </Authorized>
</AuthorizeView>

<a href="superadmin">SuperAdmin</a>

<ul>
    @foreach (var item in ToolManager.GetToolFactories())
    {
        <li>
            @item
        </li>
    }
</ul>

<button @onclick="PingAsync">Send important stuff</button>

<p>@response</p>

@code {
    private byte[]? response;

    protected override async Task OnInitializedAsync()
    {
        if (Hub.State == Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Disconnected)
        {
            await Hub.StartAsync();
        }
    }

    private async Task PingAsync()
    {
        response = await Hub.InvokeBlockMesh(new BlockVariant("AlpineCliffRoadLeft", true, 0, 0));
        StateHasChanged();
    }
}