@page "/"
@using BigBang1112.Gbx.Client.Services;
@inject ISecureHubService Hub

<PageTitle>Index</PageTitle>

<button @onclick="() => Hub.PingAsync()">Send important stuff</button>

<p>@response</p>

@code {
    private string? response;

    protected override async Task OnInitializedAsync()
    {
        Hub.On("Pong", () =>
        {
            response = "Pong";
            StateHasChanged();
        });

        await Hub.StartAsync();
    }
}