@page "/"
@using BigBang1112.Gbx.Client.Services;
@using MapViewerEngine.Shared;
@inject MapViewerEngine.MapViewerEngineHub Hub
@inject ToolManager ToolManager

<PageTitle>Index</PageTitle>

<p>@Hub.State</p>

<ul>
    @foreach (var item in ToolManager.GetToolFactories())
    {
        <li>
            @item
        </li>
    }
</ul>

<button @onclick="PingAsync">Send important stuff</button>

<p>@response</p>

@code {
    private byte[]? response;

    protected override async Task OnInitializedAsync()
    {
        await Hub.StartAsync();
    }

    private async Task PingAsync()
    {
        response = await Hub.InvokeBlockMesh(new BlockVariant("Lol", true, 0, 0));
        StateHasChanged();
    }
}