@page "/privacy"

<PageTitle>Privacy Policy - Gbx Web Tools</PageTitle>

<h2>Privacy Policy (4. 5. 2023)</h2>

<p>
    By using Gbx Web Tools, you agree to the following privacy policy.
</p>
<p>
    Personal information is collected from you when you login to this website, including your Discord snowflake, username, discriminator, and avatar hash. This information is collected solely for the purpose of providing Gbx Web Tools services.
</p>
<p>
    Your personal information is used to provide these services, to personalize your experience, and to communicate with you about the website and services. We do not sell, trade, or rent your personal information to third parties.
</p>
<p>
    We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or method of electronic storage is completely secure, and we cannot guarantee the absolute security of your personal information.
</p>
<p>
    This website may contain links to third-party websites or services. We are not responsible for the privacy practices of those websites or services, and we encourage you to review their privacy policies.
</p>
<p>
    We reserve the right to modify or update this privacy policy at any time, without notice. Your continued use of our website after any changes to this policy will constitute your acceptance of the new policy.
</p>
<p>
    If you have any questions or concerns about this privacy policy or our use of your personal information, please contact the owner.
</p>

@code {

}
