@page "/terms"

<PageTitle>Terms of Service - Gbx Web Tools</PageTitle>

<h2>Terms of Service (4. 5. 2023)</h2>

<p>
    By using Gbx Web Tools, you agree to the following terms of service.
</p>
<p>
    This website provides tools to modify Gbx files and generate other content with it. You may use these tools only for lawful purposes and in accordance with these terms of service. You may not use these services to create or distribute any material that is illegal, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or otherwise objectionable.
</p>
<p>
    You may not use these services to engage in any conduct that is illegal, fraudulent, or otherwise harmful to our website or its users. You may not use these services to impersonate another person or entity, interfere with the operation of our website, or attempt to gain unauthorized access to the website or its servers.
</p>
<p>
    You agree to indemnify and hold the website owner harmless from any claims, damages, or expenses (including attorneys’ fees) arising from your use of our website or violation of these terms of service.
</p>
<p>
    The website and its services are provided “as is” and without warranties of any kind, whether express or implied. We do not warrant that these services will be uninterrupted, error-free, or free of viruses or other harmful components. You use these services at your own risk.
</p>
<p>
    We reserve the right to modify or update these terms of service at any time, without notice. Your continued use of this website after any changes to these terms will constitute your acceptance of the new terms.
</p>
<p>
    Thank you for using Gbx Web Tools. If you have any questions or concerns about these terms of service, please contact the owner.
</p>

@code {

}
