@page "/tool/{name}"

<h3>@Name</h3>

@code {
    public string? Name { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            if (parameter.Name == nameof(Name))
            {
                Name = parameter.Value?.ToString();
            }
        }
    }
}
