@page "/tool/{route}"
@inject IToolManager ToolManager

@if (ToolFactory is not null)
{
    <h3>@ToolFactory.Name</h3>
}

@code {
    [Parameter]
    public string? Route { get; set; }
    
    public IToolFactory? ToolFactory { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Route is not null)
        {
            ToolFactory = ToolManager.GetToolFactoryByRoute(Route);
        }
    }
}
