@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --background-gradient-top: rgba(64, 80, 96, 0.6);
    --background-gradient-bottom: rgba(32, 36, 44, 1);
    --button-blue: #214569;
    --button-blue-edge: #27507A;
    --button-green: #216821;
    --button-green-edge: #257525;
    --button-darkgreen: #143F14;
    --button-darkgreen-edge: #184C18;
    --button-red: #662020;
    --button-red-edge: #722424;
    --class-type-color: #5BFFDE;
}

a, button, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: linear-gradient(to bottom, var(--background-gradient-top), var(--background-gradient-bottom)), url(/img/bg.jpg);
    background-size: cover;
    color: white;
    font-family: 'Kanit', Rubik, sans-serif;
}

h1 {
    outline: none;
}


h2, h3, h4 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 3px black;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

.file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}

.import-area {
    border: 4px dashed #6ADB;
    background: #6AD2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6ADC;
    font-size: 2rem;
    padding-bottom: 4px;
    transition: 0.1s all ease;
    border-radius: 5px;
}

    .import-area:hover, .import-area.hovered {
        background: #6AD4;
    }

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.donate {
    background: #E2B500;
    width: 150px;
    padding: 5px;
    color: black;
    border-radius: 10px;
    margin-left: auto;
}
    .donate:hover {
        background: #EAD067;
    }

.rectangle {
    background: linear-gradient(90deg, rgba(20,21,24,0.95) 0%, rgba(25,26,31,0.95) 100%);
    border-left: 0.5rem solid #21202322;
    border-right: 0.5rem solid #21202322;
    border-radius: 0.6rem / 0.3rem;
    padding: 0.8rem;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 50%);
    transition: 0.25s all ease;
    background-blend-mode: lighten;
    box-sizing: border-box;
    color: white;
}

    .rectangle.clickable:hover, .rectangle.clicked {
        background-color: var(--button-blue);
        border-left: 0.5rem solid var(--button-blue-edge);
        border-right: 0.5rem solid var(--button-blue-edge);
        cursor: pointer;
    }

    .rectangle.highlighted {
        background-color: var(--button-blue);
        border-left: 0.5rem solid var(--button-blue-edge);
        border-right: 0.5rem solid var(--button-blue-edge);
    }

    .rectangle.highlighted-green {
        background-color: var(--button-green);
        border-left: 0.5rem solid var(--button-green-edge);
        border-right: 0.5rem solid var(--button-green-edge);
    }

    .rectangle.highlighted-red {
        background-color: var(--button-red);
        border-left: 0.5rem solid var(--button-red-edge);
        border-right: 0.5rem solid var(--button-red-edge);
    }

select, input[type=color] {
    cursor: pointer;
}

input[type=text], input[type=color], .input-text, select {
    background-color: rgba(35,36,41,0.95);
    font-family: inherit;
    border: none;
    border-radius: 0.3rem;
    color: inherit;
    transition: background-color 0.1s;
    animation: fadeIn 0.3s;
    padding: 0 8px;
    font-size: 1rem;
}
    input[type=text]:hover, input[type=color]:hover, .input-text:hover, select:hover {
        background-color: #303138;
    }

.search-bar {
    background-color: rgba(25,26,31,0.95);
    font-family: inherit;
    border: none;
    border-radius: 0.3rem;
    color: inherit;
    transition: background-color 0.1s;
    animation: fadeIn 0.3s;
    padding: 4px 12px;
    height: 32px;
    font-size: 1.2rem;
    margin-top: 10px;
}

    .search-bar:hover {
        background-color: #22262B;
    }

.grainy {
    background: #111E;
    background-image: url(../img/noise.svg);
    backdrop-filter: blur(20px);
}

.util-background {
    background: #0005;
    background-image: url(../img/noise.svg);
    background-size: 150px;
    min-height: calc(100vh - 80px);
    backdrop-filter: blur(20px);
    animation: util-background-fadeIn 0.5s;
}

a.button {
    cursor: pointer;
    text-align: center;
}

button, a.button {
    display: flex;
    color: white;
    border: none;
    background: linear-gradient(90deg, rgba(40,41,44,0.7) 0%, rgba(35,36,40,0.8) 2%, rgba(37,38,40,0.8) 98%, rgba(36,38,42,0.7) 100%);
    padding: 0.5rem 0.9rem;
    border-radius: 0.3rem;
    align-items: center;
    justify-content: center;
}

    button:hover:enabled, a.button:hover, button.selected {
        background: linear-gradient(90deg, var(--button-blue-edge) 0%, var(--button-blue) 2%, var(--button-blue) 98%, var(--button-blue-edge) 100%);
        cursor: pointer;
    }

    button:disabled {
        color: gray;
        cursor: not-allowed;
    }

.darker-bg {
    background: #1114;
    border-radius: 10px;
}

@keyframes util-background-fadeIn {
    0% {
        background-color: #0000;
    }

    100% {
        background-color: #0005;
    }
}