#blazor-error-ui {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.progress-bar {
    width: calc(100vw - 40px);
    background: #333;
    border-radius: 3px;
}

.progress-bar-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--blazor-load-percentage, 0%);
    height: 30px;
    background: var(--button-blue);
    border-radius: 3px;
}

body .pwa-updater[b-pwa-updater] {
    --pwa-updater-font-size: 16px;
    --pwa-updater-font-family: inherit;
    --pwa-updater-bar-height: 40px;
}