* {
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100vh;
    position: relative;
}

header {
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 20;
}

    header > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        header > div:first-child, header > div:last-child {
            display: none;
            padding: 0 30px;
        }

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 8;
    position: relative;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: 20px auto;
    padding: 0 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.import-area {
    height: 150px;
    position: relative;
}

.floating-div {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 20px 20px 0 20px;
    box-shadow: 2px 2px 40px rgba(127, 127, 127, 0.6);
    border-radius: 8px 8px 0 0;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(34,35,38,0.9) 0%, rgba(25,26,27,0.95) 100%);
    margin-left: auto;
    margin-right: auto;
}

.semi-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(34,35,38,0.9) 0%, rgba(25,26,27,0.95) 100%);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 24px;
    transition: 0.2s all ease;
}

.centered-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.centered-note {
    align-items: center;
    text-align: center;
    color: gray;
    justify-content: center;
    grid-auto-rows: auto !important;
}

a.menu-button {
    border-radius: 10px;
    padding: 6px 1.9rem;
}

.author {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.author > img {
    height: 15px;
    margin-top: 2px;
}

.util-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    min-height: calc(100vh - 160px);
    padding: 0 20px;
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item:first-child {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 960px) {
    header > div:first-child, header > div:last-child {
        display: flex;
        gap: 10px;
    }

    .logo {
        height: 32px;
        padding: 24px;
    }
}

@media screen and (min-width: 600px) {
    .floating-div {
        display: flex;
        flex-direction: column;
        z-index: 9;
    }
}