* {
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100vh;
    position: relative;
}

header {
    background: #111;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 20;
}

    header > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        header > div:first-child, header > div:last-child {
            display: none;
            padding: 0 30px;
        }

footer {
    height: 80px;
    background: #111;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.import-area {
    height: 150px;
    position: relative;
}

.floating-div {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 20px;
    width: 400px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(34,35,38,0.9) 0%, rgba(25,26,27,0.95) 100%);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 24px;
    transition: 0.2s all ease;
}

.centered-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item:first-child {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 960px) {
    header > div:first-child {
        display: flex;
    }

    header > div:last-child {
        display: flex;
    }

    .logo {
        height: 32px;
    }
}

@media screen and (min-width: 600px) {
    .floating-div {
        display: block;
    }
}