/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-corner {
    background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }