@inherits LayoutComponentBase

<div class="page">
    <header class="grainy">
        <div>
            <a href="https://gbxexplorer.net" class="button menu-button" target="_blank">
                Explorer
            </a>
        </div>
        <div>
            <h1>
                <a href="/" style="display: flex">
                    <img class="logo" src="img/logo.png" />
                </a>
            </h1>
        </div>
        <div>
            <a href="/docs/api" class="button menu-button">API</a>
            <a href="/swagger" class="button menu-button">Swagger</a>
            <a class="donate" href="https://www.paypal.com/paypalme/bigbang1112" target="_blank">
                Donate
            </a>
        </div>
    </header>

    <div style="height: 80px; backdrop-filter: blur(20px)">
    </div>

    @Body
</div>
<footer class="grainy">
    <div class="author">
        <span>© 2023 Petr &nbsp;'&nbsp;</span>
        <img src="img/bigbang1112.png">
        <span>&nbsp;'&nbsp; Pivoňka</span>
    </div>
</footer>
<ImportedGbxManager />