@inherits LayoutComponentBase

<div class="page">
    <header class="grainy">
        <div>
            <a href="https://gbxexplorer.net" class="button menu-button">
                Explorer
            </a>
        </div>
        <div>
            <h1>
                <a href="/" style="display: flex">
                    <img class="logo" src="img/logo.png" />
                </a>
            </h1>
        </div>
        <div>
            <a href="/docs/api" class="button menu-button">API</a>
            <a href="/swagger" class="button menu-button">Swagger</a>
            <a class="donate" href="https://www.paypal.com/paypalme/bigbang1112">
                Donate
            </a>
        </div>
    </header>

    <div style="height: 80px; backdrop-filter: blur(20px)">
    </div>

    @Body
</div>
<footer class="grainy">
    <p>BIGBANG1112</p>
</footer>
<ImportedGbxManager />