@inherits LayoutComponentBase

<div class="page">
    <header class="grainy">
        <div>
            <div>
                Explorer
            </div>
        </div>
        <div>
            <h1>
                <a href="/" style="display: flex">
                    <img class="logo" src="img/logo.png" />
                </a>
            </h1>
        </div>
        <div>
            <a href="/docs/api">API</a>
            <a href="/swagger">Swagger</a>
            <div class="donate">
                Donate
            </div>
        </div>
    </header>

    <div style="height: 80px">
    </div>

    @Body
</div>
<footer class="grainy">
    <p>BIGBANG1112</p>
</footer>
<ImportedGbxManager />